@use "presets" as *;
@use "mixins" as *;
.footer {
    background-color: #232323;
    padding-top: $gap * 3;
    color: #d5d5d5;
    ul {
        padding: 0;
        list-style: none;
    }
    a {
        color: #6f6f6f;
    }
    a:hover {
        color: $color-white;
    }
    &-author-text {
        text-align: center;
        margin: 20px 0;
        & a {
            color: #d5d5d5;
            font-weight: 700;
        }
    }
}